name: CI

on:
  push:
    branches: [main]
    paths:
      - 'proposals/**/wit/**'
      - 'proposals/**/wit-0.3.0-draft/**'
  pull_request:
    branches: [main]
    paths:
      - 'proposals/**/wit/**'
      - 'proposals/**/wit-0.3.0-draft/**'
jobs:
  validate:
    name: Validate ${{ matrix.proposal }} ${{ matrix.version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - { proposal: cli, version: "0.2", wit-path: "proposals/cli/wit", worlds: "imports command" }
          - { proposal: cli, version: "0.3", wit-path: "proposals/cli/wit-0.3.0-draft", worlds: "imports command" }
          - { proposal: clocks, version: "0.2", wit-path: "proposals/clocks/wit", worlds: "imports" }
          - { proposal: clocks, version: "0.3", wit-path: "proposals/clocks/wit-0.3.0-draft", worlds: "imports" }
          - { proposal: filesystem, version: "0.2", wit-path: "proposals/filesystem/wit", worlds: "imports" }
          - { proposal: filesystem, version: "0.3", wit-path: "proposals/filesystem/wit-0.3.0-draft", worlds: "imports" }
          - { proposal: http, version: "0.2", wit-path: "proposals/http/wit", worlds: "imports proxy" }
          - { proposal: http, version: "0.3", wit-path: "proposals/http/wit-0.3.0-draft", worlds: "service middleware" }
          - { proposal: io, version: "0.2", wit-path: "proposals/io/wit", worlds: "imports" }
          - { proposal: random, version: "0.2", wit-path: "proposals/random/wit", worlds: "imports" }
          - { proposal: random, version: "0.3", wit-path: "proposals/random/wit-0.3.0-draft", worlds: "imports" }
          - { proposal: sockets, version: "0.2", wit-path: "proposals/sockets/wit", worlds: "imports" }
          - { proposal: sockets, version: "0.3", wit-path: "proposals/sockets/wit-0.3.0-draft", worlds: "imports" }
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            relevant:
              - '${{ matrix.wit-path }}/**'
      - uses: ./.github/actions/validate-wit
        if: steps.changes.outputs.relevant == 'true'
        with:
          wit-path: ${{ matrix.wit-path }}
          worlds: ${{ matrix.worlds }}
